*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.user
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln 

cmake_install.cmake
.cache/
*.TMP

Testing
Debug/
build/
buildClang/
buildGCC/
CMakeFiles/
.vs/
benchmarks/time.py
benchmarks/*.cpp
ignore/